{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "DATABASE_URL": "postgresql+psycopg2://localmarket:localmarket@localhost:5432/localmarket",
    "AZURE_NOTIFICATION_HUBS_CONNECTION_STRING": "",
    "AZURE_NOTIFICATION_HUBS_HUB_NAME": ""
  }
}
